/* Nav bar */
nav {
    text-align: center;
}

nav ul {
    height: 100px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav li {
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}


/* Header */
header {
    position: relative;
    background: url(../images/bg-img.jpg);
    /* border: 1px solid red; */
    height: 200px;
    background-size: cover;
    width: 100%;
}

h1 {
    color: white;
    position: absolute;
    left: 11.2px;
    top: 60px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
/* All cards */
main .card{
    text-align: center;
    border: 1px solid black;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* About me card */

#profile {
    border-radius: 50%;
    border: 5px dotted black;
    width: 125px;
}

/* Work card */
.work-space img{
    width:100px;
    height: 50px;
}

/* Contact card */

/* Footer */